.intro {
  color: #ffffff;
  margin: 0 auto;
  max-width: 984px;
}

.intro__title {
  max-width: 830px;
  line-height: 58px;
  font-size: 54px;
  font-weight: 900;
}

.intro__text {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}
.intro__texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  max-width: 738px;
  gap: 10px;
}

.intro__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media (min-width: 545px) and (max-width: 1024px) {
  .intro__title {
    margin-top: 90px;
    margin-left: 24px;
    font-size: 45px;
    line-height: 49px;
    margin-bottom: 50px;
  }

  .intro__text {
    margin: 0 24px 26px;
  }

  .intro__description {
    margin: 32px 24px 0;
  }
}

@media (max-width: 544px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin: 64px 16px 40px;
  }

  .intro__text {
    font-size: 24px;
    line-height: 34px;
    margin: 0 16px 10px;
  }

  .intro__description {
    margin: 32px 16px 0;
  }
}
